<div class="head-box">
  <h1>{{ title }}</h1>
  <h2>
    Using this user interface, you can interact with the Seafood supply chain.
    Check the <a href="https://github.com/ghareeb-falazi/SCIP-CaseStudy-2">sample case study</a> for more detailes about what is involved.
  </h2>
  <mat-slide-toggle 
    [color]="warn"
    [checked]="onReload">
    Query on tab change
  </mat-slide-toggle>
</div>

<mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabClick($event)">
  <!-- FISH -->
  <mat-tab label="Fisherman">
    <h2>
      You can register a new captured fish by filling the form and clicking on
      the <em>Register Fish</em> button.
    </h2>
    <div class="wrapper">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Fill the form with all information about the captured fish</mat-card-title>
        </mat-card-header>
        <mat-card-content class="form-box">
          <form
          [formGroup]="fishForm"
          (ngSubmit)="onRegisterFish(fishForm.value)"
        >
          <mat-form-field>
            <input matInput formControlName="fishId" placeholder="Fish id.." />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              formControlName="location"
              placeholder="Location.."
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              formControlName="fishermanName"
              placeholder="Fisherman name.."
            />
          </mat-form-field>
          <button class="button" type="submit">Register Fish</button>
        </form>
        <div class="result-box">
          <div *ngIf="performing" class="lds-roller mt-4">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div *ngIf="!performing" class="mt-4">
            {{ result }}
          </div>
        </div>
        </mat-card-content>
      </mat-card>
      <div class="query-box">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Registered Fishes</mat-card-title>
            <mat-card-subtitle>
              you can retrieve all registered fishes by clicking on the
              <em>Query</em> button
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="fishPerforming" class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <table
              *ngIf="!fishPerforming"
              mat-table
              [dataSource]="fishes"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="fishId">
                <th mat-header-cell *matHeaderCellDef>Fish Id</th>
                <td mat-cell *matCellDef="let element">{{ element.fishId }}</td>
              </ng-container>
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let element">{{ element.location }}</td>
              </ng-container>
              <ng-container matColumnDef="fishermanName">
                <th mat-header-cell *matHeaderCellDef>Fisherman Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fishermanName }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="fishColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: fishColumns"></tr>
            </table>
            <div *ngIf="fishError !== ''" class="error-box">
              {{ fishError }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" mat-button class="button clear-btn" (click)="clearFishes()">
              Clear
            </button>
            <button type="button" mat-button class="button query-btn" (click)="getFishes()">
              Query
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <!-- SHIPMENT -->
  <mat-tab label="Shipment Company">
    <h2>
      You can register a new shipment of fishes by filling the form and clicking
      on the <em>Register Shipment</em> button.
    </h2>
    <div class="wrapper">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Fill the form with all information about the shipment</mat-card-title>
        </mat-card-header>
        <mat-card-content class="form-box">
          <form
          [formGroup]="shipmentForm"
          (ngSubmit)="onRegisterShipment(shipmentForm.value)"
        >
          <mat-form-field>
            <mat-chip-list
              #shipmentFishIds
              formControlName="fishIds"
              aria-label="Ids selection"
            >
              <mat-chip
                *ngFor="let id of idsForShipment"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeIdFromShipment(id)"
              >
                {{ id }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Fish ids.."
                [matChipInputFor]="shipmentFishIds"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addIdInShipment($event)"
              />
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              formControlName="toLocation"
              placeholder="To location.."
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              formControlName="shipmentCompanyName"
              placeholder="Company name.."
            />
          </mat-form-field>
          <button class="button" type="submit">Register Shipment</button>
        </form>
        <div class="result-box">
          <div *ngIf="performing" class="lds-roller mt-4">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div *ngIf="!performing" class="mt-4">
            {{ result }}
          </div>
        </div>
        </mat-card-content>
      </mat-card>
      <div class="query-box">
        <!-- SHIPMENTS -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Registered Fish Shipments</mat-card-title>
            <mat-card-subtitle>
              you can retrieve all registered fish shipments by clicking on the
              <em>Query</em> button
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="shipmentPerforming" class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <table
              *ngIf="!shipmentPerforming"
              mat-table
              [dataSource]="shipments"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="fishIds">
                <th mat-header-cell *matHeaderCellDef>Fish Ids</th>
                <td mat-cell *matCellDef="let element">{{ element.fishIds }}</td>
              </ng-container>
              <ng-container matColumnDef="toLocation">
                <th mat-header-cell *matHeaderCellDef>To Location</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.toLocation }}
                </td>
              </ng-container>
              <ng-container matColumnDef="shipmentCompanyName">
                <th mat-header-cell *matHeaderCellDef>
                  Shipment Company Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.shipmentCompanyName }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="shipmentColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: shipmentColumns"></tr>
            </table>
            <div *ngIf="shipmentError !== ''" class="error-box">
              {{ shipmentError }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" mat-button class="button clear-btn" (click)="clearShipments()">
              Clear
            </button>
            <button type="button" mat-button class="button query-btn" (click)="getShipments()">
              Query
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <!-- PACKAGE -->
  <mat-tab label="Processing Facility">
    <h2>
      You can register a new fishes' package by filling the form and clicking on
      the <em>Register Package</em> button.
    </h2>
    <div class="wrapper">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Fill the form with all information about the shipment</mat-card-title>
        </mat-card-header>
        <mat-card-content class="form-box">
          <form
          [formGroup]="packageForm"
          (ngSubmit)="onRegisterPackage(packageForm.value)">
            <mat-form-field>
              <mat-chip-list
                #packageFishIds
                formControlName="fishIds"
                aria-label="Ids selection"
              >
                <mat-chip
                  *ngFor="let id of idsForPackage"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeIdFromPackage(id)"
                >
                  {{ id }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Fish ids.."
                  [matChipInputFor]="packageFishIds"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addIdInPackage($event)"
                />
              </mat-chip-list>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="packageId"
                placeholder="Package id.."
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="processingFacilityName"
                placeholder="Facility name.."
              />
            </mat-form-field>
            <button class="button" type="submit">Register Package</button>
          </form>
          <div class="result-box">
            <div *ngIf="performing" class="lds-roller mt-4">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div *ngIf="!performing" class="mt-4">
              {{ result }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="query-box">
        <!-- PACKAGE -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Registered Packages</mat-card-title>
            <mat-card-subtitle>
              you can retrieve all registered packages by clicking on the
              <em>Query</em> button
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="packagePerforming" class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <table
              *ngIf="!packagePerforming"
              mat-table
              [dataSource]="packages"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="fishIds">
                <th mat-header-cell *matHeaderCellDef>Fish Ids</th>
                <td mat-cell *matCellDef="let element">{{ element.fishIds }}</td>
              </ng-container>
              <ng-container matColumnDef="packageId">
                <th mat-header-cell *matHeaderCellDef>Package Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.packageId }}
                </td>
              </ng-container>
              <ng-container matColumnDef="processingFacilityName">
                <th mat-header-cell *matHeaderCellDef>
                  Processing Facility Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.processingFacilityName }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="packageColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: packageColumns"></tr>
            </table>
            <div *ngIf="packageError !== ''" class="error-box">
              {{ packageError }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" mat-button class="button clear-btn" (click)="clearPackages()">
              Clear
            </button>
            <button type="button" mat-button class="button query-btn" (click)="getPackages()">
              Query
            </button>
          </mat-card-actions>
        </mat-card>
      </div>  
    </div>
  </mat-tab>

  <!-- TRANSPORTATION -->
  <mat-tab label="Distributor">
    <h2>
      You can register a transportation by filling the form and clicking on the
      <em>Register Transportation</em> button.
    </h2>
    <div class="wrapper">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Fill the form with all information about the shipment</mat-card-title>
        </mat-card-header>
        <mat-card-content class="form-box">
          <form
          [formGroup]="transportationForm"
          (ngSubmit)="onRegisterTransportation(transportationForm.value)">
            <mat-form-field>
              <input
                matInput
                formControlName="packageId"
                placeholder="Package id.."
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="toLocation"
                placeholder="To location.."
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="distributorName"
                placeholder="Distributor name.."
              />
            </mat-form-field>
            <button class="button" type="submit">Register Transportation</button>
          </form>
          <div class="result-box">
            <div *ngIf="performing" class="lds-roller mt-4">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div *ngIf="!performing" class="mt-4">
              {{ result }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="query-box">
        <!-- TRANSPORTATION -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Registered Package Transportations</mat-card-title>
            <mat-card-subtitle>
              you can retrieve all registered package transportation by clicking on the
              <em>Query</em> button
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="transportationPerforming" class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <table
              *ngIf="!transportationPerforming"
              mat-table
              [dataSource]="transportations"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="packageId">
                <th mat-header-cell *matHeaderCellDef>Package Id</th>
                <td mat-cell *matCellDef="let element">{{ element.packageId }}</td>
              </ng-container>
              <ng-container matColumnDef="toLocation">
                <th mat-header-cell *matHeaderCellDef>To Location</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.toLocation }}
                </td>
              </ng-container>
              <ng-container matColumnDef="distributorName">
                <th mat-header-cell *matHeaderCellDef>
                  Distributor Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.distributorName }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="transportationColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: transportationColumns"></tr>
            </table>
            <div *ngIf="transportationError !== ''" class="error-box">
              {{ transportationError }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" mat-button class="button clear-btn" (click)="clearTransportations()">
              Clear
            </button>
            <button type="button" mat-button class="button query-btn" (click)="getTransportations()">
              Query
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <!-- INVENTORY -->
  <mat-tab label="Inventory">
    <h2>
      You can register a new inventory entry by filling the form and clicking on
      the
      <em>Register Entry</em> button.
    </h2>
    <div class="wrapper">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Fill the form with all information about the shipment</mat-card-title>
        </mat-card-header>
        <mat-card-content class="form-box">
          <form
          [formGroup]="inventoryEntryForm"
          (ngSubmit)="onRegisterInInventory(inventoryEntryForm.value)"
        >
            <mat-form-field>
              <input
                matInput
                formControlName="packageId"
                placeholder="Package id.."
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="retailerName"
                placeholder="Retailer name.."
              />
            </mat-form-field>
            <button class="button" type="submit">Register Entry</button>
          </form>
          <div class="result-box">
            <div *ngIf="performing" class="lds-roller mt-4">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div *ngIf="!performing" class="mt-4">
              {{ result }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="query-box">
        <!-- INVENTORY -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>Packages In Inventory </mat-card-title>
            <mat-card-subtitle>
              you can retrieve all packages registered in inventory by clicking on the
              <em>Query</em> button
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="entryPerforming" class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <table
              *ngIf="!entryPerforming"
              mat-table
              [dataSource]="entries"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="packageId">
                <th mat-header-cell *matHeaderCellDef>Package Id</th>
                <td mat-cell *matCellDef="let element">{{ element.packageId }}</td>
              </ng-container>
              <ng-container matColumnDef="retailerName">
                <th mat-header-cell *matHeaderCellDef>Retailer Name</th>
                <td mat-cell *matCellDef="let element">{{ element.retailerName }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="entryColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: entryColumns"></tr>
            </table>
            <div *ngIf="entryError !== ''" class="error-box">
              {{ entryError }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" mat-button class="button clear-btn" (click)="clearEntries()">
              Clear
            </button>
            <button type="button" mat-button class="button query-btn" (click)="getEntries()">
              Query
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <!-- SALES -->
  <mat-tab label="Retailer">
    <h2>
      You can register a new fishes' package sale by filling the form and
      clicking on the
      <em>Register Sale</em> button.
    </h2>
    <div class="wrapper">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Fill the form with all information about the shipment</mat-card-title>
        </mat-card-header>
        <mat-card-content class="form-box">
          <form
          [formGroup]="sellingForm"
          (ngSubmit)="onRegisterSelling(sellingForm.value)"
        >
            <mat-form-field>
              <input
                matInput
                formControlName="packageId"
                placeholder="Package id.."
              />
            </mat-form-field>
            <button class="button" type="submit">Register Sale</button>
          </form>
          <div class="result-box">
            <div *ngIf="performing" class="lds-roller mt-4">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div *ngIf="!performing" class="mt-4">
              {{ result }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="query-box">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sold Packages</mat-card-title>
            <mat-card-subtitle>
              you can retrieve all sold packages by clicking on the
              <em>Query</em> button
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="salePerforming" class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <table
              *ngIf="!salePerforming"
              mat-table
              [dataSource]="sales"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="packageId">
                <th mat-header-cell *matHeaderCellDef>Package Id</th>
                <td mat-cell *matCellDef="let element">{{ element.packageId }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="saleColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: saleColumns"></tr>
            </table>
            <div *ngIf="saleError !== ''" class="error-box">
              {{ saleError }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="button" mat-button class="button clear-btn" (click)="clearSales()">
              Clear
            </button>
            <button type="button" mat-button class="button query-btn" (click)="getSales()">
              Query
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <!-- PROVENANCE -->
  <mat-tab label="Provenance">
    <div class="prov-wrapper">
      <div class="prov-form-box mat-elevation-z3">
        <form
          [formGroup]="provenanceForm"
          (ngSubmit)="retrieveProvenance(provenanceForm.value)"
        >
          <mat-form-field>
            <input
              matInput
              formControlName="packageId"
              placeholder="Package Id.."
            />
          </mat-form-field>
          <button mat-button class="submit-btn button" type="submit">Retrieve Provenance</button>
          <button mat-button class="clear-btn button" type="button" (click)="clearProvenance()">Clear</button>
        </form>
      </div>
      <div class="prov-result-box">
        <div class="spinner">
          <div *ngIf="performing" class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div *ngIf="!performing && error !== ''" class="error-box">
          <h3>{{ error }}</h3>
        </div>
        <div *ngIf="!performing && error === ''" class="page">
          <ngx-graph
            [links]="links"
            [nodes]="nodes"
            [clusters]="clusters"
            [layout]="dagre"
            [curve]="curve"
            [draggingEnabled]="false"
            [panningEnabled]="true"
            [enableZoom]="false"
            [panOnZoom]="false"
            [autoZoom]="true"
            [autoCenter]="true"
            [update$]="update$"
            [center$]="center$"
            [zoomToFit$]="zoomToFit$"
          >
    
            <ng-template #defsTemplate>
              <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
              </svg:marker>
            </ng-template>

            <ng-template #clusterTemplate let-cluster>
              <svg:g class="node cluster">
                <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color" />
              </svg:g>
            </ng-template>
    
            <ng-template #nodeTemplate let-node>
              <svg:g class="node" (click)="onNodeClicked($event)">
                <svg:rect id="{{node.id}}" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
                <svg:text id="{{node.id}}" alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
              </svg:g>
            </ng-template>
    
            <ng-template #linkTemplate let-link>
              <svg:g class="edge" (click)="onEdgeClicked($event)">
                <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                </svg:path>
                <svg:text class="edge-label" text-anchor="middle">
                  <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                    {{link.label}}
                  </textPath>
                </svg:text>
              </svg:g>
            </ng-template>
          </ngx-graph>
        </div>
        <div class="node-info">
          <h3 *ngIf="showInfo === 'selling'"> Selling Occurence </h3>
          <table
            mat-table
            *ngIf="showInfo === 'selling'"
            [dataSource]="salesProv"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="isoTimestamp">
              <th mat-header-cell *matHeaderCellDef>ISO Timestamp</th>
              <td mat-cell *matCellDef="let element">{{ element.isoTimestamp }}</td>
            </ng-container>
            <ng-container matColumnDef="packageId">
              <th mat-header-cell *matHeaderCellDef>Package Id</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.packageId }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="saleProvColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: saleProvColumns"></tr>
          </table>
          <h3 *ngIf="showInfo === 'inventory'"> Inventory Occurence </h3>
          <table
            mat-table
            *ngIf="showInfo === 'inventory'"
            [dataSource]="entriesProv"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="isoTimestamp">
              <th mat-header-cell *matHeaderCellDef>ISO Timestamp</th>
              <td mat-cell *matCellDef="let element">{{ element.isoTimestamp }}</td>
            </ng-container>
            <ng-container matColumnDef="packageId">
              <th mat-header-cell *matHeaderCellDef>Package Id</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.packageId }}</td>
            </ng-container>
            <ng-container matColumnDef="retailerName">
              <th mat-header-cell *matHeaderCellDef>Retailer Name</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.retailerName }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="entryProvColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: entryProvColumns"></tr>
          </table>
          <h3 *ngIf="showInfo === 'transportation'"> Transportation Occurence </h3>
          <table
            mat-table
            *ngIf="showInfo === 'transportation'"
            [dataSource]="transportationsProv"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="isoTimestamp">
              <th mat-header-cell *matHeaderCellDef>ISO Timestamp</th>
              <td mat-cell *matCellDef="let element">{{ element.isoTimestamp }}</td>
            </ng-container>
            <ng-container matColumnDef="packageId">
              <th mat-header-cell *matHeaderCellDef>Package Id</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.packageId }}</td>
            </ng-container>
            <ng-container matColumnDef="toLocation">
              <th mat-header-cell *matHeaderCellDef>To Location</th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.toLocation }}
              </td>
            </ng-container>
            <ng-container matColumnDef="distributorName">
              <th mat-header-cell *matHeaderCellDef>
                Distributor Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.distributorName }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="transportationProvColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: transportationProvColumns"></tr>
          </table>
          <h3 *ngIf="showInfo === 'package'"> Packaging Occurence </h3>
          <table
            mat-table
            *ngIf="showInfo === 'package'"
            [dataSource]="packagesProv"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="isoTimestamp">
              <th mat-header-cell *matHeaderCellDef>ISO Timestamp</th>
              <td mat-cell *matCellDef="let element">{{ element.isoTimestamp }}</td>
            </ng-container>
            <ng-container matColumnDef="fishIds">
              <th mat-header-cell *matHeaderCellDef>Fish Ids</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.fishIds }}</td>
            </ng-container>
            <ng-container matColumnDef="packageId">
              <th mat-header-cell *matHeaderCellDef>Package Id</th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.packageId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="processingFacilityName">
              <th mat-header-cell *matHeaderCellDef>
                Processing Facility Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.processingFacilityName }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="packageProvColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: packageProvColumns"></tr>
          </table>
          <h3 *ngIf="showInfo === 'shipment'"> Fish Shipment Occurence </h3>
          <table
            mat-table
            *ngIf="showInfo === 'shipment'"
            [dataSource]="shipmentsProv"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="isoTimestamp">
              <th mat-header-cell *matHeaderCellDef>ISO Timestamp</th>
              <td mat-cell *matCellDef="let element">{{ element.isoTimestamp }}</td>
            </ng-container>
            <ng-container matColumnDef="fishIds">
              <th mat-header-cell *matHeaderCellDef>Fish Ids</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.fishIds }}</td>
            </ng-container>
            <ng-container matColumnDef="toLocation">
              <th mat-header-cell *matHeaderCellDef>To Location</th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.toLocation }}
              </td>
            </ng-container>
            <ng-container matColumnDef="shipmentCompanyName">
              <th mat-header-cell *matHeaderCellDef>
                Shipment Company Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.shipmentCompanyName }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="shipmentProvColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: shipmentProvColumns"></tr>
          </table>
          <h3 *ngIf="showInfo === 'fish'"> Fish Catching Occurences </h3>
          <table
            mat-table
            *ngIf="showInfo === 'fish'"
            [dataSource]="fishesProv"
            class="mat-elevation-z8">
            <ng-container matColumnDef="isoTimestamp">
              <th mat-header-cell *matHeaderCellDef>ISO Timestamp</th>
              <td mat-cell *matCellDef="let element">{{ element.isoTimestamp }}</td>
            </ng-container>
            <ng-container matColumnDef="fishId">
              <th mat-header-cell *matHeaderCellDef>Fish Id</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.fishId }}</td>
            </ng-container>
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let element">{{ element.occurrence.location }}</td>
            </ng-container>
            <ng-container matColumnDef="fishermanName">
              <th mat-header-cell *matHeaderCellDef>Fisherman Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.occurrence.fishermanName }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="fishProvColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: fishProvColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
